# Terragrunt gitignore, cf.
.*.sw?
.idea
terragrunt.iml
vendor
.terraform
**/.terraform
.infracost
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
.terraform.lock.hcl
terragrunt
.DS_Store
.go-version
.terragrunt-stack
.devcontainer.json
.cursor/
.env
.licensei.cache
bin
.terragrunt-cache
.terragrunt-stack
